<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="M_NO" />
		<result property="mId" column="M_ID" />
		<result property="mPwd" column="M_PWD" />
		<result property="mName" column="M_NAME" />
		<result property="mEmail" column="M_EMAIL" />
		<result property="mEnrollDate" column="M_ENROLL_DATE" />
		<result property="mModifyDate" column="M_MODIFY_DATE" />
		<result property="mStatus" column="M_STATUS" />
		<result property="rConf" column="R_CONF" />
		<result property="mOriginPf" column="M_ORIGIN_PF" />
		<result property="mStrePf" column="M_STRE_PF" />
		<result property="mNickname" column="M_NICKNAME" />
		<result property="mBirthday" column="M_BIRTHDAY" />
		<result property="mPhone" column="M_PHONE" />
		<result property="mAddress" column="M_ADDRESS" />
		<result property="mGrad" column="M_GRAD" />
		<result property="mPoint" column="M_POINT" />
		<result property="mSortNo" column="M_SORT_NO" />
	</resultMap>
	
	<resultMap type="Board" id="boardResultSet">
		<id property="bNo" column="B_NO" />
		<result property="mNo" column="M_NO" />
		<result property="mId" column="M_ID" />
		<result property="mNickname" column="M_NICKNAME" />
		<result property="bType" column="B_TYPE" />
		<result property="bCategory" column="B_CATEGORY" />
		<result property="bTitle" column="B_TITLE" />
		<result property="bContent" column="B_CONTENT" />
		<result property="bEnrollDate" column="B_ENROLL_DATE" />
		<result property="bModifyDate" column="B_MODIFY_DATE" />
		<result property="bCount" column="B_COUNT" />
		<result property="bStatus" column="B_STATUS" />
	</resultMap>
	
		
	<select id ="selectAll" resultMap="boardResultSet">
		SELECT *
		FROM BOARD_VIEW
		WHERE B_STATUS ='Y'
		ORDER BY B_NO DESC
	</select>
  
	<select id ="selectAllWithType" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM BOARD_VIEW
		WHERE B_STATUS ='Y'
		AND B_TYPE = #{boardType}
		ORDER BY B_NO DESC
	</select>

	<select id="searchList" parameterType="hashmap" resultMap="boardResultSet">
      <!-- <bind name="sv" value="'%' + _parameter.getValue() + '%'"/> sv는 명칭으로 정리한거다 -->
      <!-- <bind name="bt" value="_parameter.getType()"/> -->
      SELECT * 
      FROM BOARD_VIEW
      <where>
         <choose>
            <when test="condition == 'title'">
               AND B_TITLE LIKE '%'||#{value}||'%'
            </when>
            <when test="condition == 'writer'">
               AND M_NICKNAME LIKE '%'||#{value}||'%'
            </when>
            <when test="condition == 'content'">
               AND B_CONTENT LIKE '%'||#{value}||'%'
            </when>
            <otherwise>
               AND (
								 		M_NICKNAME LIKE '%'||#{value}||'%'
                   	OR B_TITLE LIKE '%'||#{value}||'%'
                   	OR B_CONTENT LIKE '%'||#{value}||'%'
									 )
            </otherwise>
         </choose>
      </where>
      AND B_TYPE = #{boardType}
      ORDER BY B_NO DESC
   </select>

</mapper>