<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="M_NO" />
		<result property="mId" column="M_ID" />
		<result property="mPwd" column="M_PWD" />
		<result property="mName" column="M_NAME" />
		<result property="mEmail" column="M_EMAIL" />
		<result property="mEnrollDate" column="M_ENROLL_DATE" />
		<result property="mModifyDate" column="M_MODIFY_DATE" />
		<result property="mStatus" column="M_STATUS" />
		<result property="rConf" column="R_CONF" />
		<result property="mOriginPf" column="M_ORIGIN_PF" />
		<result property="mStrePf" column="M_STRE_PF" />
		<result property="mNickname" column="M_NICKNAME" />
		<result property="mBirthday" column="M_BIRTHDAY" />
		<result property="mPhone" column="M_PHONE" />
		<result property="mAddress" column="M_ADDRESS" />
		<result property="mGrad" column="M_GRAD" />
		<result property="mPoint" column="M_POINT" />
		<result property="mSortNo" column="M_SORT_NO" />
	</resultMap>
	
	<resultMap type="Board" id="boardResultSet">
		<id property="bNo" column="B_NO" />
		<result property="mNo" column="M_NO" />
		<result property="mId" column="M_ID" />
		<result property="mNickname" column="M_NICKNAME" />
		<result property="bType" column="B_TYPE" />
		<result property="bCategory" column="B_CATEGORY" />
		<result property="bTitle" column="B_TITLE" />
		<result property="bContent" column="B_CONTENT" />
		<result property="bEnrollDate" column="B_ENROLL_DATE" />
		<result property="bModifyDate" column="B_MODIFY_DATE" />
		<result property="bCount" column="B_COUNT" />
		<result property="bStatus" column="B_STATUS" />
	</resultMap>
	
	<resultMap type="Comment" id="commentResultSet">
		<id property="cmtNo" column="CMT_NO" />
		<result property="mNo" column="M_NO" />
		<result property="mId" column="M_ID" />
		<result property="mNickname" column="M_NICKNAME" />
		<result property="bNo" column="B_NO" />
		<result property="cmtContent" column="CMT_CONTENT" />
		<result property="cmtEnrollDate" column="CMT_ENROLL_DATE" />
		<result property="cmtModifyDate" column="CMT_MODIFY_DATE" />
		<result property="cmtStatus" column="CMT_STATUS" />
	</resultMap>
		
	<select id ="selectAll" resultMap="boardResultSet">
		SELECT *
		FROM BOARD_VIEW
		WHERE B_STATUS = 'Y'
		ORDER BY B_NO DESC
	</select>
  
	<select id ="selectAllWithType" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM BOARD_VIEW
		WHERE B_STATUS = 'Y'
		AND B_TYPE = #{boardType}
		ORDER BY B_NO DESC
	</select>

	<select id ="selectMyBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT B.B_NO, B.B_TITLE, B.B_ENROLL_DATE, B.B_MODIFY_DATE, B.B_CATEGORY, B.B_TYPE, B.B_CONTENT,
		G.M_NICKNAME
		FROM BOARD_VIEW B, TB_GNRL_MEMBER G
		WHERE B.M_NO = G.M_NO
		AND G.M_NO = #{mNo}
		ORDER BY B_ENROLL_DATE
	</select>

	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM BOARD_VIEW
		WHERE B_NO = #{bNo}
		AND B_STATUS = 'Y'
	</select>

	<update id="updateBoard" parameterType="Board">
		UPDATE TB_BOARD 
		SET 
		B_CATEGORY = #{bCategory},
		B_TITLE = #{bTitle},
		B_CONTENT = #{bContent}, 
		B_MODIFY_DATE = SYSDATE
		WHERE B_NO = #{bNo}
	</update>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO TB_BOARD 
		VALUES(B_SEQ.NEXTVAL, #{mNo}, #{bType}, #{bCategory}, #{bTitle}, #{bContent}, SYSDATE, SYSDATE, 0, DEFAULT)
	</insert>

	<update id="deleteBoard" parameterType="_int">
		UPDATE TB_BOARD 
		SET B_STATUS = 'N'
		WHERE B_NO = #{bNo}
	</update>

	<select id="searchList" parameterType="hashmap" resultMap="boardResultSet">
      SELECT * 
      FROM BOARD_VIEW
      <where>
         <choose>
            <when test="condition == 'title'">
               AND B_TITLE LIKE '%'||#{value}||'%'
            </when>
            <when test="condition == 'writer'">
               AND M_NICKNAME LIKE '%'||#{value}||'%'
            </when>
            <when test="condition == 'content'">
               AND B_CONTENT LIKE '%'||#{value}||'%'
            </when>
            <otherwise>
               AND (
								 		M_NICKNAME LIKE '%'||#{value}||'%'
                   	OR B_TITLE LIKE '%'||#{value}||'%'
                   	OR B_CONTENT LIKE '%'||#{value}||'%'
									 )
            </otherwise>
         </choose>
      </where>
      AND B_TYPE = #{boardType}
      ORDER BY B_NO DESC
   </select>

	<select id="selectComments" parameterType="_int" resultMap="commentResultSet">
		SELECT *
		FROM CMT_VIEW
		WHERE B_NO = #{bNo}
		AND CMT_STATUS = 'Y'
		ORDER BY CMT_NO DESC
	</select>

	<select id="selectMyComment" parameterType="_int" resultMap="commentResultSet">
		SELECT *
		FROM CMT_VIEW
		WHERE M_NO = 241
		AND CMT_STATUS = 'Y'
		ORDER BY CMT_NO DESC
	</select>

	<select id="selectComment" parameterType="Comment" resultMap="commentResultSet">
		SELECT *
		FROM CMT_VIEW
		WHERE CMT_NO = #{cmtNo}
		AND CMT_STATUS = 'Y'
	</select>

	<insert id="insertComment" parameterType="Comment">
		INSERT INTO TB_BOARD_COMMENT 
		VALUES (C_SEQ.NEXTVAL, #{mNo}, #{bNo}, #{cmtContent}, SYSDATE, SYSDATE, DEFAULT)
	</insert>

	<update id="updateComment" parameterType="Comment">
		UPDATE TB_BOARD_COMMENT 
		SET 
		CMT_CONTENT = #{cmtContent}, 
		CMT_MODIFY_DATE = SYSDATE
		WHERE CMT_NO = #{cmtNo}
	</update>

	<update id="deleteComment" parameterType="_int">
		UPDATE TB_BOARD_COMMENT
		SET CMT_STATUS = 'N'
		WHERE CMT_NO = #{cmtNo}
	</update>

</mapper>